/*********************************************************
    // start outlined
**********************************************************/

/*********************************************************
    // icon botton
**********************************************************/

.icon_btn {
  background-color: $color_bg1;
  border: 1px solid #efefef;
  border-radius: 8px;
  width: 45px;
  height: 45px;
  font-size: toRem(20);
  color: $color_main;
}
