/*********************************************************
    // color variables
**********************************************************/

$color_main: #026bb0;

$color_text1: #333333;
$color_text2: #9c9c9c;

$color_bg1: #fff;
$color_bg2: #fbfbfc;

$color_success: #fff;
$color_info: #fff;
$color_warning: #fff;
$color_danger: red;

/*********************************************************
    // font variables
**********************************************************/

$font_bold: "NotoSans-Bold", arial, tahoma;

$font_regular: "NotoSans-Regular", arial, tahoma;

$font_light: "NotoSans-Light";

$font_icon: "icomoon";
